body{
    background-color: #111;
    color: #aaa;
    font-size: Impact, Helvetica, Arial;
    letter-spacing: 1px;
}

#contenedor{
    width: 800px;
    margin: 40px auto;
    position: relative; 
}

#canvas{
    border: 1px solid #333;
}

#marcador{
    position: absolute;
    top: 5px;
    left: 8px;
    margin: 0;
    font-size: 15px;
}

.strong{
    color: #a00;
}

.pantalla{
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
}

#titulo{
    top: 214px;
    font-size: 50px;
    word-spacing: 20px;
}

#inicio{
    top: 300px;
}

#fin{
    top: 220px;
    display: none;
    font-size: 50px;
}

#ctrls{
    text-align: center;
    font-size: 18px;
}



